<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musi2Spotify</title>
	<style>
		.flex-container {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
		}
	</style>
    <script src="static/js/playlist_updater.js"></script>
</head>
<body>
    <h1>Musi to Spotify playlist converter</h1>

    <h2 id="playlistName">Musi playlist name: </h2>
	<p id="scraped"><br></p>
	<p id="matched"><br></p>
	
	<div id="matchUpdater" style="display: none;">
	Please verify the matches found on Spotify are correct, then press "Convert" to convert your playlist!<br>
	<button type="button" onclick="create_playlist()">Convert</button><br><br>
	Optional: to replace an existing Spotify playlist with this one, enter the link to the playlist below:
	<form>
		<input type="text" id="existingPlaylist" name="url" value="">
	</form>
	<h2>Manually match YouTube video to Spotify track (optional):</h2>
	<h3 id="isSelected">Select a song below:</h3>
	<div id="selectedSection" style="display: none;">
	<a id="selectedVideo"></a>
	<h3 id="hasMatch">Matching Spotify track:</h3>
	<form onsubmit="return update_match()">
		<input type="text" id="matchedSong" name="url" value="">
		<input type="submit" value="Update">
	</form> 
	<div id="removeButton" style="display: none;">
	<button type="button" onclick="remove_match()">Remove match</button>
	(Only press if the song isn't on spotify and it was marked as such!)<br>
	</div><br>
	<button type="button" onclick="cancel_selection()">Cancel match</button>
	</div>
	</div>
	
	<div class="flex-container">
	 <div id="notFoundContainer" style="display: none;">
	  <h2>Songs not found on Spotify:  </h2>
	  <div style="overflow-y:auto;max-height: 200px;">
       <table border="1"><thead>
        <tr>
         <td>YouTube Video</td>
         <td>Add matching song</td>
        </tr></thead>
	    <tbody id="notFoundTableBody">
	    </tbody>
       </table>
	  </div>
	 </div>
 
 	 <div>
 	  <h2>Songs found on Spotify:</h2>
 	  <div style="overflow-y:auto;max-height: 200px;">
       <table border="1"><thead>
        <tr>
         <td>YouTube Video</td>
         <td>Spotify Track</td>
		 <td>Update incorrect match</td>
        </tr></thead>
 	    <tbody id="foundTableBody">
 	    </tbody>
       </table>
 	  </div>
	 </div>
 	</div>

</body>
</html>
